html {
   font-size: 62.5%; 

}


html,  body,  div,  span,  applet,  object,  iframe, 
h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre, 
a,  abbr,  acronym,  address,  big,  cite,  code, 
del,  dfn,  em,  img,  ins,  kbd,  q,  s,  samp, 
small,  strike,  strong,  sub,  sup,  tt,  var, 
b,  u,  i,  center, 
dl,  dt,  dd,  ol,  ul,  li, 
fieldset,  form,  label,  legend, 
table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td, 
article,  aside,  canvas,  details,  embed, 
figure,  figcaption,  footer,  header,  hgroup, 
menu,  nav,  output,  ruby,  section,  summary, 
time,  mark,  audio,  video {
   margin: 0; 
   padding: 0; 
   border: 0; 
   font-size: 100%; 
   font: inherit; 
   vertical-align: baseline; 
}


article,  aside,  details,  figcaption,  figure, 
footer,  header,  hgroup,  menu,  nav,  section {
   display: block; 
}

body {
   line-height: 1; 
}

html,  body {
   height: 100%; 
}

ol,  ul {
   list-style: none; 
}

blockquote,  q {
   quotes: none; 
}

blockquote:before,  blockquote:after, 
q:before,  q:after {
   content: ''; 
   content: none; 
}

table {
   border-collapse: collapse; 
   border-spacing: 0; 
}

h1,  h2,  h3,  h4 {
   font-family: "Oswald", Helvetica, Arial, sans-serif; 
   line-height: 1.4; 
   letter-spacing: -1px; 
   text-align: center; 
}

h2 {






   font-size: 20px; 

   font-size: 2rem; 

   font-weight: normal; 
}
h2 strong {
   font-weight: 700; 
}

p a {
   color: #cfcfcf; 
   font-weight: 700; 
   text-decoration: none; 
   transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); 
   -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); 
}
p a:hover {
   color: #ad9f72; 
   border-bottom: solid 1px white; 
   cursor: pointer; 
}

input {
   background: none; 
   border: 0; 
}

::-webkit-input-placeholder {
   color: white; 
}

:-moz-placeholder {

   color: white; 
}

::-moz-placeholder {

   color: white; 
}

:-ms-input-placeholder {
   color: white; 
}

@media all and (min-width: 600px) {
   h1, h2, h3, h4 {
       text-align: left; 
   }

   h1 {







    font-size: 10.0rem; 
    color: #ad9f72; 
    text-transform: uppercase; 
    font-weight: 700; 
    letter-spacing: -2px; 
    line-height: 112px; 

}

h1 span{
   color: #fff; 
   font-weight:500; 
}

h2 {







    font-size: 3.8rem; 
    font-weight: 300; 

}
}
html {
  font-size: 62.5%; 
  box-sizing: border-box; 
}

*,  *:before,  *:after {
  box-sizing: inherit; 
}

body {
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; 
  font-size: 1.8em; 
  color: white; 
  font-family: "Oswald", Helvetica, Arial, sans-serif; 
  background: url("../img/bg-1.jpg") no-repeat left center fixed #030406; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}

.wrap {
   overflow: hidden; 
   margin: 20px 15px; 
   max-width: 1200px; 
}

.header {
   margin-bottom: 25px; 
}

@media all and (min-width: 600px) {
   .wrap {
       width: 90%; 
       min-height: 100%; 
       margin: 0 auto -30px; 
   }

   .one-half {
       width: 45%; 
       margin: 120px 0 0 10%; 
       float: left; 
   }
   .one-half:first-child {
       margin-left: 0; 
   }
}

.generate {
   -webkit-transition: all .1s ease-in-out; 
   -moz-transition: all .1s ease-in-out; 
   -ms-transition: all .1s ease-in-out; 
   -o-transition: all .1s ease-in-out; 
   margin-bottom: 60px; 
}

.generate span,  .generate input {






   font-size: 25px; 

   font-size: 2.5rem; 

   color: white; 
}
.generate span {
  display: block; 
  text-align: center; 
}
.generate .quantity {
  clear: both; 
  overflow: hidden; 
  line-height: 35px; 
  margin-bottom: 25px; 
}
.generate .quantity .quantity__buttons {
  width: 225px; 
  overflow: hidden; 
  margin: 15px auto; 
}
.generate .quantity .quantity__buttons input {
  margin: 0 45px; 
}
.generate .quantity .quantity__buttons input,  .generate .quantity .quantity__buttons button {
  width: 45px; 
  height: 45px; 
  float: left; 
  text-align: center; 
  font-family: "Oswald", Helvetica, Arial, sans-serif; 
}
.generate .quantity .quantity__buttons button {
  border: 0; 
  border-radius: 100px; 
  background: #ad9f72; 
  cursor: pointer; 
  position: relative; 
  outline: 0; 
}
.generate .quantity .quantity__buttons button i {
  display: inline-block; 
  vertical-align: baseline; 
  zoom: 1; 
  *display: inline; 
  *vertical-align: auto; 
  width: 21px; 
  height: 21px; 
  position: absolute; 
  top: 50%; 
  right: 50%; 
  margin-right: -10.5px; 
  margin-top: -10.5px; 
  background-image: url("../img/sprite.png"); 
  background-repeat: no-repeat; 
}
.generate .quantity .quantity__buttons button.quantity--minus i {
   background-position: 0 -41px; 
}
.generate .quantity .quantity__buttons button.quantity--minus:hover i {
   background-position: -50px -41px; 
}
.generate .quantity .quantity__buttons button.quantity--plus i {
   background-position: 0 0; 
}
.generate .quantity .quantity__buttons button.quantity--plus:hover i {
   background-position: -50px 0; 
}
.generate .quantity .quantity__buttons button:hover {
   background: #eb4f4f; 
}
.generate .okay__text {
   color: lightgrey; 
   text-align: center; 
   margin-bottom: 16px; 






   font-size: 18px; 

   font-size: 1.8rem; 

}

.okay__button,  .quantity__buttons button {
    -webkit-transition: all .1s ease-in-out; 
    -moz-transition: all .1s ease-in-out; 
    -ms-transition: all .1s ease-in-out; 
    -o-transition: all .1s ease-in-out; 
}

.generate .okay__button {
    display: block; 
    border: 0; 
    border-radius: 100px; 
    background: rgba(0, 0, 0, 0.5); 
    width: 100%; 
    max-width: 280px; 
    height: 60px; 
    color: white; 
    font-family: "Oswald", Helvetica, Arial, sans-serif; 
    font-size: 2rem; 
    line-height: 46px; 
    cursor: pointer; 
    margin: 0 auto; 
    outline: 0; 
}
.generate .okay__button i {
  background-image: url("../img/sprite.png"); 
  background-repeat: no-repeat; 
  background-position: 0 -100px; 
  display: inline-block; 
  vertical-align: baseline; 
  zoom: 1; 
  *display: inline; 
  *vertical-align: auto; 
  width: 33px; 
  height: 33px; 
  margin-left: 10px; 
  position: relative; 
  bottom: -8.25px; 
}
.generate .okay__button:hover {
   background: rgba(0, 0, 0, 0.8); 
}
.generate .generate__text {
    border: 1px dashed #ad9f72; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 30px 30px 5px; 
    border-radius: 5px; 
    overflow: visible; 
    margin-top: 30px;
    position: relative; 
}
.generate .generate__text:before {
    display: block;
    content: '';
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -3px -72px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -8px;
    left: 20px;
}
.generate .generate__text p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: lightgrey; 
    margin-bottom: 20px; 
    line-height: 22px; 
    font-size: 1em; 
}
.generate .generate__text .empty-state {
    text-align:center; 
    color: #999; 
}


@media all and (min-width: 600px) {
   .quantity .quantity__buttons {
   }
}
footer {
   clear: both; 
}
footer p {






   font-size: 12px; 

   font-size: 1.2rem; 

   line-height: 1.2; 
   color: #afafaf; 
   font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif; 
   text-align: center; 
   margin: 0; 
}

@media all and (min-width: 600px) {
   footer {
       height: 30px; 
       margin-right: 5%; 
   }
   footer p {






       font-size: 12px; 

       font-size: 1.2rem; 

       text-align: right; 
   }
}

.animated {
   -webkit-animation-duration: 1s; 
   -moz-animation-duration: 1s; 
   -ms-animation-duration: 1s; 
   animation-duration: 1s; 
   -webkit-animation-fill-mode: both; 
   -moz-animation-fill-mode: both; 
   -ms-animation-fill-mode: both; 
   animation-fill-mode: both; 
}

@-webkit-keyframes fadeIn {
   0% {
       opacity: 0; 
   }

   100% {
       opacity: 1; 
   }
}

@-moz-keyframes fadeIn {
   0% {
       opacity: 0; 
   }

   100% {
       opacity: 1; 
   }
}

@-ms-keyframes fadeIn {
   0% {
       opacity: 0; 
   }

   100% {
       opacity: 1; 
   }
}

@keyframes fadeIn {
   0% {
       opacity: 0; 
   }

   100% {
       opacity: 1; 
   }
}

.fadeIn {
   -webkit-animation-name: fadeIn; 
   -moz-animation-name: fadeIn; 
   -ms-animation-name: fadeIn; 
   -o-animation-name: fadeIn; 
   animation-name: fadeIn; 
}

@-webkit-keyframes fadeInDown {
   0% {
       opacity: 0; 
       -webkit-transform: translateY(-20px); 
   }

   100% {
       opacity: 1; 
       -webkit-transform: translateY(0); 
   }
}

@-moz-keyframes fadeInDown {
   0% {
       opacity: 0; 
       -moz-transform: translateY(-20px); 
   }

   100% {
       opacity: 1; 
       -moz-transform: translateY(0); 
   }
}

@-ms-keyframes fadeInDown {
   0% {
       opacity: 0; 
       -ms-transform: translateY(-20px); 
   }

   100% {
       opacity: 1; 
       -ms-transform: translateY(0); 
   }
}

@keyframes fadeInDown {
   0% {
       opacity: 0; 
       transform: translateY(-20px); 
   }

   100% {
       opacity: 1; 
       transform: translateY(0); 
   }
}

.fadeInDown {
   -webkit-animation-name: fadeInDown; 
   -moz-animation-name: fadeInDown; 
   -ms-animation-name: fadeInDown; 
   animation-name: fadeInDown; 
}
